.card-conatiner{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 15px;
}
.card-blog{
    border: 2px solid #7d2ae7 !important;
    height: 400px !important;
}

/* Responsiveness for tablet */
@media screen and (min-width: 690px) and (max-width:1350px) {
    .card-conatiner {
      grid-template-columns: repeat(2, 1fr);
    }
    .card-blog{
        height: 500px !important;
    }
  }
  
  /* Responsiveness for mobile */
  @media screen and (max-width:689px) {
    .card-conatiner{
      grid-template-columns: repeat(1, 1fr);
    }
    .card-blog{
        min-height: 700px;
        overflow: hidden;
    }

  }